
<!DOCTYPE html>
<html>
  

<body>
 <article>
     <h1><p class="d-flex flex-lg-row text-center"  
    style="max-width: 75rem;">
      Classes for dancers ages 4 through 12th grade are held during the school year on Monday afternoons and evenings in the host school’s gym according to the following schedule:
     </p><br>
</h1>
<h1><p class="d-flex flex-lg-row text-center"  
    style="max-width: 75rem;">
    3:45 – 4:30	Dancers age 4 (by Sept 1) and new Kindergartners
     </p>
</h1>
<h1><p class="d-flex flex-lg-row text-center"  
    style="max-width: 75rem;">
    4:30 – 5:15	Returning Kindergartners and 1st grade dancers
     </p>
</h1>
<h1><p class="d-flex flex-lg-row text-center"  
    style="max-width: 75rem;">
    5:15 – 6:00	2nd and 3rd grade dancers
     </p>
</h1>
<h1><p class="d-flex flex-lg-row text-center"  
    style="max-width: 75rem;">
    6:00 – 6:45	4th through 6th grade dancers
     </p>
</h1>
<h1><p class="d-flex flex-lg-row text-center"  
    style="max-width: 75rem;">
    6:45 – 7:30	Technique class – Optional Ballet for 4th – 12th grade dancers only 
    (Enhanced ballet technique specializing in muscle memory and enhancing flexibility) 

     </p>
</h1>
<h1><p class="d-flex flex-lg-row text-center"  
    style="max-width: 75rem;">
    7:30 – 8:30	7th through 12th grade dancers (jazz and tap only)
     </p><br>
</h1>
<h1><p class="d-flex flex-lg-row text-center"  
    style="max-width: 75rem;">
    The tuition amount will be the same each month and is due on the first of each month from September through April.  Tuition is $25.00 per month per class.  If your dancer registers for technique in addition to her regular class the monthly tuition is $50.00.  Tuition is due regardless of whether or not you attend class.  Refunds cannot be made for absences due to illnesses and other activities.   
     </p><br>
</h1>
<h1><p class="d-flex flex-lg-row text-center"  
    style="max-width: 75rem;">
    There is a non-refundable application fee of $5.00 per dancer for Brentwood residents and $10.00 per dancer for non-Brentwood residents.  
     </p><br>
</h1>
<h1><p class="d-flex flex-lg-row text-center"  
    style="max-width: 75rem;">
    Your dancer will need to have black tap and pink ballet shoes.  Dance wear should be tight fitting clothing, leotard, tights, leggings, tutus are all accepted.  No baggy clothing please.
     </p><br>
</h1>
<h1><p class="d-flex flex-lg-row text-center"  
    style="max-width: 75rem;">
    Questions may be directed to the Dance Volunteer Committee by email at brentwooddanceschool@yahoo.com.  
     </p><br>
</h1>
<h1><p class="d-flex flex-lg-row text-center"  
    style="max-width: 75rem;">
    In case of bad weather, dance classes will be cancelled if the Brentwood School District closes school.  Please monitor regular channels for school cancellation information or email us if you have any questions regarding class cancellation.
     </p><br>
</h1>
<h1><p class="d-flex flex-lg-row text-center"  
    style="max-width: 75rem;">
    OBSERVATION DAYS:
Observation days are reflected on our dance calendar.  Family members may come and observe on these days only. Please be considerate of the dancers and the instructor by keeping disruptions to a minimum.

     </p><br>
</h1>
<h1><p class="d-flex flex-lg-row text-center"  
    style="max-width: 75rem;">
    RECITAL COSTUMES:
Costumes will be ordered in early January and payment for costumes is due at that time. Costume order packets will be mailed over Winter Break.  Our Rehearsal and Recital is held at the Brentwood High School Auditorium in the evening in May over Mother’s Day weekend on Friday and Saturday.  

     </p><br>
</h1>


  <link type='text/scss rel="stylesheet' href="normalize.scss"/>
    
</article>

  </body>
</html>
  
  

