<div class="card m-3">
    <h5 class="card-header" >{{ title | titlecase }} </h5>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col">
                    <h6><label>Dancers grade in Fall</label></h6>
                    <select formControlName="grade" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.grade.errors }">
                        <option value=""></option>
                        <option value="Prek">PreK</option>
                        <option value="Kindergarten">Kindergarten</option>
                        <option value="1st grade">1st grade</option>
                        <option value="2">2nd grade</option>
                        <option value="3">3rd grade</option>
                        <option value="4">4th grade</option>
                        <option value="5">5th grade</option>
                        <option value="6">6th grade</option>
                        <option value="7">7th grade</option>
                        <option value="8">8th grade</option>
                        <option value="9">9th grade</option>
                        <option value="10">10th grade</option>
                        <option value="11">11th grade</option>
                        <option value="12">12th grade</option>
                    </select>
                    <div *ngIf="submitted && this.registerForm.controls.grade.errors" class="invalid-feedback">
                        <div *ngIf="this.registerForm.controls.grade.errors.required">Grade is required</div>
                    </div>
                </div>
                <div class="form-group col-5">
                    <h6><label>Dancers First Name</label></h6>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.firstName.errors }" />
                    <div *ngIf="submitted && this.registerForm.controls.firstName.errors" class="invalid-feedback">
                        <div *ngIf="this.registerForm.controls.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group col-5">
                    <h6><label>Dancers Last Name</label></h6>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.lastName.errors }" />
                    <div *ngIf="submitted && this.registerForm.controls.lastName.errors" class="invalid-feedback">
                        <div *ngIf="this.registerForm.controls.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
            </div> <br>
                    <h6><label>Technique? (Additional ballet for 4th thru 12th grades)</label></h6>
                    <div class="w-25 p-2" ><select formControlName="technique" class="form-control"  [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.technique.errors }">
                        <option value=""></option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                    <div *ngIf="submitted && this.registerForm.controls.technique.errors" class="invalid-feedback">
                        <div *ngIf="this.registerForm.controls.technique.errors.required">This field is required</div>
                    </div>
                    </div> <br>
            <div class="form-group">
                <h6><label>Email</label></h6>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.email.errors }" />
                <div *ngIf="submitted && this.registerForm.controls.email.errors" class="invalid-feedback">
                    <div *ngIf="this.registerForm.controls.email.errors.required">Email is required</div>
                    <div *ngIf="this.registerForm.controls.email.errors.email">Email must be a valid email address</div>
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col">
                    <h6><label>Parent/Guardian First Name</label></h6>
                    <input type="text" formControlName="parentsFirstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.parentsFirstName.errors }" />
                    <div *ngIf="submitted && this.registerForm.controls.parentsFirstName.errors" class="invalid-feedback">
                        <div *ngIf="this.registerForm.controls.parentsFirstName.errors.required">Name is required</div>
                        <div *ngIf="this.registerForm.controls.parentsFirstName.errors.minlength">Name must be at least 1 characters</div>
                    </div>
                </div>
                <div class="form-group col">
                    <h6><label>Parent/Guardian Last Name</label></h6>
                    <input type="text" formControlName="parentsLastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.parentsLastName.errors }" />
                    <div *ngIf="submitted && this.registerForm.controls.parentsLastName.errors" class="invalid-feedback">
                        <div *ngIf="this.registerForm.controls.parentsLastName.errors.required">Name is required</div>
                    </div>
                </div>
            </div><br>
            <div class="form-group form-check">
                <div class="w-75 p-3" style="background-color: #eee;"><input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls.acceptTerms.errors }" />
                <label for="acceptTerms" class="form-check-label"> Accept Terms & Conditions: I hereby release the Brentwood School District from any responsibilities for any injuries sustained during dance class.	</label></div>
                <div *ngIf="submitted && this.registerForm.controls.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1">Register</button>
                
            </div>
        </form>
    </div>
</div>