<!DOCTYPE html>
<html>
  <body>
  <h1>
    Brentwood Dance School
  </h1>
  <h1></h1>

<img src="../assets/images/IMG_2330 Dance (1).JPG" alt="">

<article>
  <h1>All about the dance school here.</h1>


  
  <link type='text/scss rel="stylesheet' href="normalize.scss"/>
  
</article>



<button><a href="registration” type="button">Register</a></button>

<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJNev0-g_L2IcRr8hp5mXZbog&key=..." allowfullscreen></iframe>

</body>
</html>
  
  

