.btn-xlarge {
    padding: 14px 24px;
    font-size: 24px; 
    font-weight: bold;
    line-height: normal;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

h1 {
    $open-sans: 'Open Sans', sans-serif ;
    font-weight: normal
    ;
    

}
$bg:  linear-gradient(135deg, #80c2e7 0%, #dafa8f 100%);
    
body {
    background: $bg; 
    color: text($bg);
    text-align: Center;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 55px;
    margin-right: 55px;
  }
  .center {
    display: flex;
    justify-content: center;
  }
  