<!DOCTYPE html>
<html>
  <body>
  <h1>
    Brentwood Dance School
  </h1>
  

<img src="../assets/images/IMG_2330 Dance (1).JPG" alt="">

<article>
  <h1>All about the dance school here.</h1>


  
  <link type='text/scss rel="stylesheet' href="normalize.scss"/>
  
  <button class="btn btn-primary" ><a href="/registration" >Register</a></button>
</article>



<iframe
  width="550"
  height="400"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCgAkxfYRO0xxsfTmuhDw1J3fy9W1rfesM
    &q=Mark Twain+Elementary,St.Louis+MO" allowfullscreen>
</iframe>

</body>
</html>
  
  

