<!DOCTYPE html>
<html>
  <body>
    
  <h1><br><p class="font-weight-bold" >Brentwood Dance School</p></h1>

 
  
  <img style="width: auto; height: 35rem; 
  " src="../assets/images/IMG_2330 Dance (1).JPG" class="img-fluid" alt="Responsive image" ><br><br>
 


  <div class="center">
     <h1><p class="d-flex flex-lg-row text-left" class="align-middle" 
    style="max-width: 115rem;">Welcome to the Brentwood Dance School. <br>We are a non-profit dance program benefiting the Brentwood School District's elementary schools PTO since 1980.  Classes each year alternate between McGrath Elementary School and Mark Twain Elementary, in the gymnasium.  PreK thru 6th grade classes include ballet and tap instruction.  7th -12th grade include tap and jazz with ballet technique as an option.  Classes for dancers ages 4 through 12th grade are held during the school year on Monday afternoons and evenings in the host school’s gym. <br>Mark Twain Elementary is hosting this year.</p></h1>
  </div><br>
    <div class="center">
    <address><p style="max-width: 50rem; font-size:20px;"><strong>Brentwood Dance School Email</strong><br>
    <a href="mailto:#">brentwooddanceschool@yahoo.com</a></p><br>
  </address>
</div>

  <!-- 2 buttons below, registration and information -->
  <button class="btn btn-outline-primary btn-xlarge"><a href="/registration" >Register</a></button><br>
  <br>
  <button class="btn btn-outline-primary btn-xlarge"><a href="/information" >Information</a></button><br>
  <br>
  
  <h1>
    <address>
    <strong>Mark Twain Elementary School</strong><br>
    8636 Litzsinger Road<br>
    Brentwood, MO 63144<br><br>

    
    <strong>McGrath Elementary School</strong><br>
    2350 Saint Clair Ave<br>
    Brentwood, MO 63144<br><br>
  
  </address>
  </h1>
  
  <link type='text/scss rel="stylesheet' href="normalize.scss"/>
  
  




<iframe
  width="550"
  height="400"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCgAkxfYRO0xxsfTmuhDw1J3fy9W1rfesM
    &q=Mark Twain+Elementary,St.Louis+MO" allowfullscreen>
</iframe>

  </body>
  
</html>
  
  

